
</div>
</div>

<script src="https://code.jquery.com/jquery-{{site.jquery-version}}.min.js" integrity="{{site.jquery-integrity}}" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-{{site.jquery-version}}.min.js"><\/script>')</script>

<script src="https://use.fontawesome.com/{{site.fontawesome-id}}.js" async></script>
<script src="{{ site.baseurl }}/js/vendor/slick.min.js"></script>
<script src="{{ site.baseurl }}/js/production.min.js" async></script>

{% include cookie.html %}

<script>
  $(function() {
    var modal = document.getElementById( "gate" );

    window.onclick = function( event ) {
      if ( event.target == modal ) {
        modal.style.display = "none";
      }
    }

    var is_logged_in = function() {
      if ( cookie( "access" ) ) {
        $( "body" ).addClass( "access" );
        $( ".not-logged-in" ).css("display","none");
      } else {
        $( "body" ).removeClass( "access" );
        $( ".not-logged-in" ).css("display","block");
      }
    }

  // Variable to hold request
  var request;

  $( "#gate-form" ).on( "submit", function( e ) {

    var uname = $( "[name='uname']" ).val();
    var psw = $( "[name='psw']" ).val();

    $.ajax({
      url: "/users.json",
      dataType: "JSON",

      success: function( data ) {
        for ( var i = 0; i < data.length; i++ ) {
          if ( data[i].username === uname && data[i].password === psw ) {
            cookie( "access", "yes", 0.04166666667 );
            is_logged_in();
            window.location.replace("/grow/");

            if (request) {
              request.abort();
            }

            $form = $(this);

            $inputs = $form.find("input, select, button, textarea");

            serializedData = {uname, psw};

            $inputs.prop("disabled", true);

            request = $.ajax({
              url: "https://script.google.com/a/maxquattromani.com/macros/s/AKfycbyG5WpyQciw-6TqNwCa0ZbHsX-jIjzL1PzAIdIO3XjpEQbHx2A/exec",
              type: "get",
              data: serializedData
            });

            request.done(function (response, textStatus, jqXHR){
              console.log("Hooray, it worked!");
              console.log(response);
              console.log(textStatus);
              console.log(jqXHR);
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
              console.error(
                "The following error occurred: "+
                textStatus, errorThrown
                );
            });

            request.always(function () {
              $inputs.prop("disabled", false);
            });

          } else {
            if (request) {
              request.abort();
            }

            $form = $(this);

            $inputs = $form.find("input, select, button, textarea");

            serializedData = {uname, psw};

            $inputs.prop("disabled", true);

            request = $.ajax({
              url: "https://script.google.com/a/maxquattromani.com/macros/s/AKfycbyG5WpyQciw-6TqNwCa0ZbHsX-jIjzL1PzAIdIO3XjpEQbHx2A/exec",
              type: "get",
              data: serializedData
            });

            request.done(function (response, textStatus, jqXHR){
              console.log("Hooray, it worked!");
              console.log(response);
              console.log(textStatus);
              console.log(jqXHR);
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
              console.error(
                "The following error occurred: "+
                textStatus, errorThrown
                );
            });

            request.always(function () {
              $inputs.prop("disabled", false);
            });
          }
        }
      },
      error: function ( err ) {
        console.error( err );
      }
    });

    e.preventDefault();
  });

  is_logged_in();
});
</script>

{% if site.google-analytics %}
{% include google-analytics.html %}
{% endif %}

{% if site.social.disqus %}
{% include disqus.html %}
{% endif %}
</body>
</html>
