        </main>

        <main class="not-logged-in">
          <h2>Welcome to the Growth Leasing investor relations website.</h2>

          <p>Here you will find updates on our progress to date and plans for the upcoming year. <br>Please enter your user name and password below to login and find out what we are up to.</p>

          <br><br>

          <button class="gate-form-button" onclick="document.getElementById('gate').style.display='block'" style="width:auto;">Login</button>

          <div id="gate" class="modal">

            <form id="gate-form" class="modal-content animate" autocomplete="on">
              <div class="container">
                <label><b>Username</b></label>
                <input  id="username" type="text" autocomplete="username" placeholder="Enter Username" name="uname" required onblur="_gaq.push(['_trackEvent', 'username', 'enter', (this.value))]);">
                <br>
                <label><b>Password</b></label>
                <input id="password" type="password" autocomplete="current-password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
              </div>
            </form>
          </div>
        </main>

        <footer role="contentinfo">
          <section>
            <div class="component-social">
              {% include social.html %}
            </div>
          </section>

          <section>
            {% include footer-nav.html %}

            <p>&#169;{{ site.time | date: '%Y' }} <a href="{{ site.baseurl | prepend: site.url }}/">{{ site.title }}</a> &bull; All rights reserved.</p>
          </section>
        </footer>

      </div>
    </div>
