// Logo
$logo-width: 284px;
$mobile-logo-width: 200px;
$mobile-logo-height: auto;
$logo-width-mobile: 200px;
$tablet-logo-width: 200px;
$tablet-logo-height: auto;
$logo-height: auto;
$logo-height-mobile: auto;
$logo-max-height: 80px;
$logo-min-height-mobile: auto;

$color-mark: null;
