// read-more links
$read-more-font-size: 16 !default;
$read-more-color: currentColor !default;
$read-more-link-icon: $icon-angle-double-right !default;
$read-more-link-padding: $fourth-spacing !default;
